<div class="w-[600px] mx-auto my-[150px] border border-[#ccc] px-3">
  <form action="">
    <div class="mb-5">
      <% (1..5).each do %>
        <div class="[&:not(:last-of-type)]:border-b border-[#ccc] p-4 flex items-center">
          <div class="w-[50%]">ビール x 3</div>
          <div class="w-[30%]"></div>
          <div class="w-[10%]"></div>
          <div class="w-[10%]"></div>
          <div class="w-[10%] text-right">¥1,000</div>
        </div>
      <% end %>
    </div>
    <div>
      <div class="[&:not(:last-of-type)]:border-b border-[#ccc] p-4 flex items-center">
        <div class="w-[50%]">小計</div>
        <div class="w-[30%]"></div>
        <div class="w-[10%]"></div>
        <div class="w-[10%]"></div>
        <div class="w-[10%] text-right">¥1000</div>
      </div>
      <div class="[&:not(:last-of-type)]:border-b border-[#ccc] p-4 flex items-center">
        <div class="w-[50%]">消費税</div>
        <div class="w-[30%]"></div>
        <div class="w-[10%]"></div>
        <div class="w-[10%]"></div>
        <div class="w-[10%] text-right">¥100</div>
      </div>
      <div class="[&:not(:last-of-type)]:border-b border-[#ccc] p-4 flex items-center">
        <div class="w-[50%]">合計</div>
        <div class="w-[30%]"></div>
        <div class="w-[10%]"></div>
        <div class="w-[10%]"></div>
        <div class="w-[10%] text-right">¥1100</div>
      </div>
    </div>
    <div class="flex justify-end py-5 px-3">
      <button class="btn btn-outline btn-secondary">会計する</button>
    </div>
  </form>
</div>

<%= render "order_units/under_nav" %>

