<div class="fixed flex w-[1000px] h-[50px] left-0 right-0 bottom-0 m-auto bg-black">
  <div class="border border-[#ccc] w-[50%] flex items-center justify-center">
    <%= link_to "注文", "/order_units/xxxxxxxxx", {class:"flex items-center justify-center w-full h-full"} %>
  </div>
  <div class="border border-[#ccc] w-[50%] flex items-center justify-center">
    <%= link_to "注文履歴", "/order_units/xxxxxxxxx/order_histories", {class:"flex items-center justify-center w-full h-full"} %>
  </div>
</div>

