<div class="w-[600px] mx-auto my-[150px] border border-[#ccc] px-3">
  <form action="">
    <% (1..5).each do %>
      <div class="[&:not(:last-of-type)]:border-b border-[#ccc] p-4 flex items-center">
        <div class="w-[50%]">ビール</div>
        <div class="w-[30%] text-right mr-5">¥1,000</div>
        <div class="w-[10%]">
          <%= button_tag "-", class: "btn btn-square btn-outline", type:"button" %>
        </div>
        <div class="w-[10%]">
          <div class="text-center">1</div>
        </div>
        <div class="w-[10%]">
          <%= button_tag "+", class: "btn btn-square btn-outline", type:"button" %>
        </div>
      </div>
    <% end %>
    <div class="flex justify-end py-5 px-3">
      <button class="btn btn-outline btn-accent">注文</button>
    </div>
  </form>
</div>

<%= render "order_units/under_nav" %>

