<div class="w-[600px] mx-auto my-[150px] border border-[#ccc] px-3">
  <form action="">
    <% (1..5).each do %>
      <div class="[&:not(:last-of-type)]:border-b border-[#ccc] p-4 flex items-center">
        <div class="w-[50%]">ビール</div>
        <div class="w-[30%]">¥1,000</div>
        <div class="w-[10%]">
          <%= button_tag "-", class: "btn btn-square btn-outline", type:"button" %>
        </div>
        <div class="w-[10%]">
          <div class="text-center">1</div>
        </div>
        <div class="w-[10%]">
          <%= button_tag "+", class: "btn btn-square btn-outline", type:"button" %>
        </div>
      </div>
    <% end %>
    <div class="flex justify-end py-5 px-3">
      <button class="btn btn-outline btn-accent">注文</button>
    </div>
  </form>
</div>

<div class="fixed flex w-[1000px] h-[50px] left-0 right-0 bottom-0 m-auto bg-black">
  <div class="border border-[#ccc] w-[50%] flex items-center justify-center">
    <%= link_to "注文", "#", {class:"flex items-center justify-center w-full h-full"} %>
  </div>
  <div class="border border-[#ccc] w-[50%] flex items-center justify-center">
    <%= link_to "注文履歴", "#", {class:"flex items-center justify-center w-full h-full"} %>
  </div>
</div>
